<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Collection</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
        #sensor_data {
            font-weight: bold;
            margin: 10px 0;
        }
        #plotImage {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
        button {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px !important;
            cursor: pointer;
            color: darkgrey;
        }
        .chart-container {
            position: relative;
            height: 100%;
            width: 80%;
        }
        #sensorChart {
            width: 100% !important;
            height: 100% !important;
        }
    </style>
</head>
<body>
    <h1>Dane dla pacjenta: {{ patient_id }}</h1>
    <button onclick="startDataImport()">Rozpocznij import danych</button>
    <button onclick="stopDataImport()">Zatrzymaj import danych</button>
    <button onclick="exportPlot()">Eksportuj wykres</button>
    <button onclick="restart()">Dodaj nowego pacjenta</button>
    <p id="sensor_data">Status: Nieaktywny</p>
    <div class="chart-container">
        <canvas id="sensorChart"></canvas>
    </div>

    <script>
        const socket = io('http://localhost:5000');
        let startTime = null;

        const ctx = document.getElementById('sensorChart').getContext('2d');
        const chartData = {
            labels: [],
            name: 'EMG Sensor Data for Patient {{ patient_id }}',
            datasets: [{
                label: 'EMG Sensor Data',
                data: [],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false
            }]
        };

        const chart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        ticks: {
                            callback: function(value, index, values) {
                                return value.toFixed(3) + 's'; // Display seconds with milliseconds
                            }
                        },
                        title: {
                            display: true,
                            text: 'Elapsed Time (s)'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        socket.on('data', function (data) {
            if (!startTime) {
                startTime = new Date(data.timestamp).getTime();
            }
            const elapsedTime = (new Date(data.timestamp).getTime() - startTime) / 1000;
            chartData.labels.push(elapsedTime);
            chartData.datasets[0].data.push(data.sensor_value);
            chart.update();
        });

        function restart() {
            window.location.href = "/";
        }

        function startDataImport() {
            fetch(`/start_import_data/{{ patient_id }}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("sensor_data").innerText = "Status: Import danych rozpoczęty.";
                })
                .catch(error => {
                    console.error("Error starting data import:", error);
                    document.getElementById("sensor_data").innerText = "Status: Błąd podczas rozpoczynania importu danych.";
                });
        }

        function stopDataImport() {
            fetch(`/stop_import_data/{{ patient_id }}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("sensor_data").innerText = "Status: Import danych zatrzymany.";
                    chartData.labels.push("");
                    chartData.datasets[0].data.push(null);
                    chart.update();
                })
                .catch(error => {
                    console.error("Error stopping data import:", error);
                    document.getElementById("sensor_data").innerText = "Status: Błąd podczas zatrzymywania importu danych.";
                });
        }

        function exportPlot() {
            const patientId = "{{ patient_id }}"; // Get the patient ID from the template
            const canvas = document.getElementById('sensorChart');

            const tempCanvas = document.createElement('canvas');
            tempCanvas.width = canvas.width;
            tempCanvas.height = canvas.height;
            const tempContext = tempCanvas.getContext('2d');

            // Fill the temporary canvas with a white background
            tempContext.fillStyle = 'white';
            tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

            // Draw the original chart onto the temporary canvas
            tempContext.drawImage(canvas, 0, 0);

            // Create a temporary link to download the image
            const link = document.createElement('a');
            link.href = tempCanvas.toDataURL('image/png'); // Convert temporary canvas to PNG
            link.download = `${patientId}_sensor_plot.png`; // Set the file name
            link.click(); // Trigger the download
        }

    </script>
</body>
</html>